@model IEnumerable<TaskManagerTLA.Models.UserViewModel>

@{
    ViewData["Title"] = "Список користувачів";
}

<h1>Список користувачів</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @if (User.Identity.Name != item.UserName)
            {
                <td>
                    @Html.ActionLink("Змінити роль", "ListRole", new { UserId = item.Id }) |
                    @Html.ActionLink("Видалити", "DeleteUser", new { UserId = item.Id })
                </td>
            }
            else
            {
                <td>
                    <span style="color:gray">  Редагування не доступно. </span>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
