@model TaskManagerTLA.Models.UserListViewModel
@addTagHelper *, TaskManagerTLA

@{
    ViewData["Title"] = "Список користувачів";
}

@if (TempData["UserInfo"] != null)
{
    <h4 style="color: green">@TempData["UserInfo"]</h4>
}

<h1>Список користувачів</h1>
<div>
    <a asp-action="AddNewUser" class="btn btn-info">Створити нового користувача</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Roles)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.CreateString(item.Roles)
                </td>

                @if (User.Identity.Name != item.UserName)
                {
                    <td>
                        @Html.ActionLink("Редагувати", "UserEditing", new { UserId = item.Id }) |
                        @Html.ActionLink("Видалити", "DeleteUser", new { Id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        <span style="color:gray">  Редагування не доступно. </span>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="ListUser"></page-link>
