@model IEnumerable<TaskManagerTLA.Models.AssignedTaskViewModel>

@{
    ViewData["Title"] = "Мої задачі";
}

<h2>Мої персональні задачі</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlobalTaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpentHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.LastOrDefault().DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GlobalTaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpentHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments.LastOrDefault().DateModified)
                </td>
                <td>
                    @Html.ActionLink("Внести данні", "EnterDataIntoAssignedTask", new { userId = item.UserId, globalTaskId = item.GlobalTaskId })
                    |
                    @if (item.Comments.Count != 0)
                    {
                        @Html.ActionLink("Переглянути коментарії виконавця", "ShowATComments", new { userId = item.UserId, globalTaskId = item.GlobalTaskId })
                    }
                    else
                    {
                        <span style="color: gray">Данні відсутні</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
