@model IEnumerable<TaskManagerTLA.Models.TModel>

@{
    ViewData["Title"] = "Список Задач";
}

<h1>Список Задач</h1>

<p>
    <a asp-action="CreateTask">Додати задачу</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskLeigth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskLeigth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskEnd)
            </td>
            <td>
                @Html.ActionLink("Деталі", "DetailsTask", new { id=item.TaskModelId}) |
                @Html.ActionLink("Видалити", "DeleteTask", new { id = item.TaskModelId  })
            </td>
        </tr>
}
    </tbody>
</table>
