@model IEnumerable<TaskManagerTLA.Models.GlobalTaskViewModel>

@{
    ViewData["Title"] = "Список Задач";
}

<h1>Список Задач</h1>

<p>
    <a asp-action="CreateTask">Додати задачу</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSpentHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSpentHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Begin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.ActionLink("Деталі", "DetailAboutTask", new { globalTaskId = item.Id }) |
                    @Html.ActionLink("Видалити", "DeleteTask", new { globalTaskId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
